<% layout('./layouts/boilerplate') %>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error <%= err.statusCode %>
        </h4>
        <p>
            <%= err.message %>
        </p>
        <p>
            <%= err.stack %>
        </p>
    </div>