<% layout('./layouts/boilerplate') %>
    <div class="flash-messages text-danger">
        <% if (messages && messages.length> 0) { %>
            <% messages.forEach((message)=> { %>
                <div class="flash-message">
                    <%= message %>
                </div>
                <% }); %>
                    <% } %>
    </div>
    <form action="/login" method="POST">
        <div>
            <input type="text" name="number" placeholder="employee number" />
        </div>
        <div>
            <input type="password" name="password" placeholder="password" />
        </div>
        <div>
            <button type="submit">Log in</button>
        </div>
    </form>