<% layout('./layouts/boilerplate') %>
    <div class="container flash-messages text-danger bg-danger-subtle w-25">
        <% if (messages && messages.length> 0) { %>
            <% messages.forEach((message)=> { %>
                <div class="flash-message">
                    <%= message %>
                </div>
                <% }); %>
                    <% } %>
    </div>
    <div class="container border d-flex justify-content-center align-items-center w-25 mt-1" id="form-container">
        <form class="needs-validation row g-3" action="/login" method="POST" novalidate>
            <div class="border-bottom pb-1">
                <h1 class="text-center">Log in</h1>
            </div>
            <div class="col-md-12">
                <input class="form-control" type="text" name="number" placeholder="employee number" required />
                <div class="invalid-feedback">
                    Please provide a valid employee number.
                </div>
            </div>
            <div class="col-md-12">
                <input class="form-control" type="password" name="password" placeholder="password" required/>
                <div class="invalid-feedback">
                    Please provide a valid password.
                </div>
            </div>
            <div class="border-bottom pb-1">
                <button class="btn btn-primary" type="submit">Log in</button>
            </div>
            <span class="mb-1">Don't have an account? <a href="../register">Register here!</a></span>
        </form>
    </div>
    <script type="text/javascript" src="/scripts/validation"></script>