<% layout('./layouts/boilerplate') %>
    <div class="container flash-messages text-danger bg-danger-subtle w-25">
        <!-- Empty because the script will handle showing the messages -->
    </div>
    <div class="container d-flex justify-content-center align-products-center w-50 mt-4">
        <div class="row g-3 border d-flex justify-content-center w-75">
            <h1 class="text-center">New Transaction</h1>
            <form class="input-group w-auto">
                <span class="input-group-text">#</span>
                <input type="num" name="num" class="form-control" id="productInput" placeholder="product num" />
                <button class="btn btn-success" id="buy-btn">Buy</button>
                <button class="btn btn-danger" id="return-btn">Return</button>
                <button class="btn btn-primary" id="reset-btn">Reset</button>
            </form>
            <div>
                <ol class="list-group list-group-numbered list-group-flush" id="products"></ol>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/scripts/productsList.js"></script>