<% layout('./layouts/boilerplate') %>
    <div class="container flash-messages text-danger bg-danger-subtle w-25">
        <!-- Empty because the script will handle showing the messages -->
    </div>
    <div class="container d-flex justify-content-center align-products-center w-50 mt-4">
        <div class="row g-3 border d-flex justify-content-center w-75">
            <h1 class="text-center">New Transaction</h1>
            <form class="input-group w-auto">
                <span class="input-group-text">#</span>
                <input type="number" name="num" class="form-control" id="product-input" placeholder="product num" />
                <button class="btn btn-success" id="buy-btn">Buy</button>
                <button type="button" class="btn btn-danger" id="return-btn" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Return
                </button>
                <button class="btn btn-primary" id="reset-btn">Reset</button>
            </form>
            <div>
                <ol class="list-group list-group-numbered list-group-flush" id="products"></ol>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Transaction Number</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form-group">
                        <input class="form-control" type="number" name="num" id="transaction-input" placeholder="# transaction">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="transaction-btn">Save</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/scripts/productsList.js"></script>