<% layout('./layouts/boilerplate') %>

    <div class="flash-messages text-danger">
        <% if (messages && messages.length> 0) { %>
            <% messages.forEach((message)=> { %>
                <div class="flash-message">
                    <%= message %>
                </div>
                <% }); %>
                    <% } %>
    </div>
    <div class="container border d-flex justify-content-center align-items-center w-50" id="form-container">
        <form class="needs-validation row g-3" action="/register" method="POST" novalidate>
            <div class="border-bottom pb-1">
                <h1 class="text-center">Register</h1>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name"
                    required />
                <div class="invalid-feedback">
                    Please provide a valid first name.
                </div>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" name="last_name" placeholder="last name" id="last_name"
                    required />
                <div class="invalid-feedback">
                    Please provide a valid last name.
                </div>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" name="num" placeholder="employee num" required />
                <div class="invalid-feedback">
                    Please provide a valid employee num.
                </div>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" name="email" placeholder="email" id="email" required />
                <div class="invalid-feedback">
                    Please provide a valid email.
                </div>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" name="phone" placeholder="phone" required />
                <div class="invalid-feedback">
                    Please provide a valid phone num.
                </div>
            </div>
            <div class="col-md-6">
                <input type="password" class="form-control" name="password" placeholder="password" required />
                <div class="invalid-feedback">
                    Please provide a valid password.
                </div>
            </div>
            <div class="col-md-6">
                <input type="password" class="form-control" name="confirm_password" placeholder="confirm password"
                    required />
                <div class="invalid-feedback">
                    Please confirm a valid password.
                </div>
            </div>
            <button class="btn btn-primary col-4 offset-4 mb-2" type="submit">Register</button>
        </form>

    </div>
    <script type="text/javascript" src="/scripts/validation.js"></script>